<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CV</title>
</head>
<body>
    <h1>Upload CV</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if excel_file_url %}
        <a href="{{ excel_file_url }}" download="cvs.xlsx">
            <button>Download Excel</button>
        </a>
    {% endif %}
</body>
</html>
